volumes:
  active_annotate_local_postgres_data: {}
  active_annotate_local_postgres_data_backups: {}
  active_annotate_local_redis_data: {}
  label_studio_data: {}

services:
  django: &django
    build:
      context: .
      dockerfile: ./compose/local/django/Dockerfile
    image: active_annotate_local_django
    container_name: active_annotate_local_django
    depends_on:
      - postgres
      - redis
    volumes:
      - /app/.venv
      - .:/app:z
    env_file:
      - ./.envs/.local/.django
      - ./.envs/.local/.postgres
    ports:
      - "8000:8000"
    command: /start

  postgres:
    build:
      context: .
      dockerfile: ./compose/production/postgres/Dockerfile
    image: active_annotate_production_postgres
    container_name: active_annotate_local_postgres
    volumes:
      - active_annotate_local_postgres_data:/var/lib/postgresql/data
      - active_annotate_local_postgres_data_backups:/backups
    env_file:
      - ./.envs/.local/.postgres

  redis:
    image: docker.io/redis:7.2
    container_name: active_annotate_local_redis
    volumes:
      - active_annotate_local_redis_data:/data

  celeryworker:
    <<: *django
    image: active_annotate_local_celeryworker
    container_name: active_annotate_local_celeryworker
    depends_on:
      - redis
      - postgres
    ports: []
    command: /start-celeryworker

  celerybeat:
    <<: *django
    image: active_annotate_local_celerybeat
    container_name: active_annotate_local_celerybeat
    depends_on:
      - redis
      - postgres
    ports: []
    command: /start-celerybeat

  flower:
    <<: *django
    image: active_annotate_local_flower
    container_name: active_annotate_local_flower
    ports:
      - "5555:5555"
    command: /start-flower

  label_studio:
    image: heartexlabs/label-studio:latest
    ports:
      - "8080:8080"
    volumes:
      - label_studio_data:/label-studio/data
    environment:
      - LABEL_STUDIO_ENABLE_LEGACY_API_TOKEN=true

  yolo_ml_backend:
    container_name: active_annotate_local_yolo
    image: humansignal/yolo:v0
    build:
      context: ./ml_backend/label_studio_ml/examples/yolo
      args:
        TEST_ENV: ${TEST_ENV}
    environment:
      # Basic auth for the model server
      - BASIC_AUTH_USER=
      - BASIC_AUTH_PASS=
      # Log level for the model server
      - LOG_LEVEL=DEBUG
      # Number of workers and threads
      - WORKERS=1
      - THREADS=8
      # Model and Python paths
      - MODEL_DIR=/data/models
      - PYTHONPATH=/app
      # Label Studio connection
      - LABEL_STUDIO_HOST=${LABEL_STUDIO_HOST:-http://host.docker.internal:8080}
      - LABEL_STUDIO_API_KEY=${LABEL_STUDIO_API_KEY}
      # YOLO parameters
      - ALLOW_CUSTOM_MODEL_PATH=true
      - DEBUG_PLOT=false
      - MODEL_SCORE_THRESHOLD=0.5
      - MODEL_ROOT=/app/models
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "9090:9090"
    volumes:
      - ./ml_backend/label_studio_ml/examples/yolo/data/server:/data
      - ./ml_backend/label_studio_ml/examples/yolo/models:/app/models
      - ./ml_backend/label_studio_ml/examples/yolo/cache_dir:/app/cache_dir
