[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
pre-commit = "*"
ruff = "*"
pyright = "*"
httpx = "*"
pytest-asyncio = "*"
pytest = "*"
pydantic = "*"
pydantic-settings = "*"
uvicorn = "*"
fastapi = {extras = ["standard"], version = "*"}
sqlmodel = "*"
alembic = "*"
psycopg2-binary = "*"
asyncpg = "*"
aiosqlite = "*"
pytest-cov = "*"
label-studio-sdk = "*"
aiohttp = "*"
debugpy = "*"

[dev-packages]

[requires]
python_version = "3.12"
